In [4]:
with open('../data/data.txt', 'r') as f:
    # d = f.read()
    dl = f.readlines()

In [7]:
data= [i.strip() for i in dl[5:]]

# data

In [8]:
import re

In [9]:
fips_pattern = re.compile(r'\d\d')
pc_pattern = re.compile(r'[A-Z][A-Z]')
state_pattern = re.compile(r'[A-Z][a-z]+(?: [A-Z][a-z]+| [a-z]* [A-Z][a-z]*)*')

In [10]:
pattern = re.compile(r"([A-Z][a-z]+(?: [A-Z][a-z]+| [a-z]* [A-Z][a-z]*)*)    ([A-Z]{2})    ([0-9]{2})")

In [11]:
pattern.findall(data[0])

[('Alabama', 'AL', '01'), ('Nebraska', 'NE', '31')]

In [12]:
pattern.findall(data[9])

[('Florida', 'FL', '12'), ('Oklahoma', 'OK', '40')]

In [13]:
pattern.findall(data[8])

[('District of Columbia', 'DC', '11'), ('Ohio', 'OH', '39')]

In [16]:
s = []
for i in data:
    s += (pattern.findall(i))

In [17]:
import pandas as pd

In [18]:
df = pd.DataFrame(s, columns=["State", "Postal Code", "FIPS"])
df

                   State Postal Code FIPS
0                Alabama          AL   01
1               Nebraska          NE   31
2                 Alaska          AK   02
3                 Nevada          NV   32
4                Arizona          AZ   04
5          New Hampshire          NH   33
6               Arkansas          AR   05
7             New Jersey          NJ   34
8             California          CA   06
9             New Mexico          NM   35
10              Colorado          CO   08
11              New York          NY   36
12           Connecticut          CT   09
13        North Carolina          NC   37
14              Delaware          DE   10
15          North Dakota          ND   38
16  District of Columbia          DC   11
17                  Ohio          OH   39
18               Florida          FL   12
19              Oklahoma          OK   40
20               Georgia          GA   13
21                Oregon          OR   41
22                Hawaii          HI   15
23          Pennsylvania          PA   42
24                 Idaho          ID   16
25           Puerto Rico          PR   72
26              Illinois          IL   17
27          Rhode Island          RI   44
28               Indiana          IN   18
29        South Carolina          SC   45
30                  Iowa          IA   19
31          South Dakota          SD   46
32                Kansas          KS   20
33             Tennessee          TN   47
34              Kentucky          KY   21
35                 Texas          TX   48
36             Louisiana          LA   22
37                  Utah          UT   49
38                 Maine          ME   23
39               Vermont          VT   50
40              Maryland          MD   24
41              Virginia          VA   51
42         Massachusetts          MA   25
43        Virgin Islands          VI   78
44              Michigan          MI   26
45            Washington          WA   53
46             Minnesota          MN   27
47         West Virginia          WV   54
48           Mississippi          MS   28
49             Wisconsin          WI   55
50              Missouri          MO   29
51               Wyoming          WY   56
52               Montana          MT   30

In [99]:
# ! pip install pandas

Collecting pandas
  Downloading pandas-1.4.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
     |████████████████████████████████| 11.6 MB 8.5 MB/s eta 0:00:01     |███████████████████████████████ | 11.2 MB 8.5 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /home/mikeyy/.pyenv/versions/3.10.0/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2022.2.1-py2.py3-none-any.whl (500 kB)
Collecting numpy>=1.21.0
  Downloading numpy-1.23.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.0 MB)
     |████████████████████████████████| 17.0 MB 1.3 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /home/mikeyy/.pyenv/versions/3.10.0/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.2 pandas-1.4.3 pytz-2022.2.1
WARNING: You are using pip version 21.2.3; however, version 22.2.2 is available.
You should consider upgrading via the '/home/mikeyy/.pyenv/versions/3.10.0/bin/python3.10 -m pip install --upgrade pip' command.